appdirs==1.4.4
atomicwrites==1.4.0
bottle==0.13.4
jsonpointer==2.1
protobuf==3.20.3
proxy_tools==0.1.0
pyasn1-modules==0.2.8
pyls-spyder==0.4.0
pyobjc-core==12.1
pyobjc-framework-Cocoa==12.1
pyobjc-framework-Quartz==12.1
pyobjc-framework-Security==12.1
pyobjc-framework-UniformTypeIdentifiers==12.1
pyobjc-framework-WebKit==12.1
PyQt5==5.15.10
PyQt6==6.8.0
PyQt6-Qt6==6.8.1
PyQt6_sip==13.9.1
PyQtWebEngine==5.15.6
pywebview==6.1
setuptools==69.5.1
wheel==0.43.0